h1 {
    text-align:center;
}

.container {
    display:none;
    text-align:center;
}

#new-book {
    text-align: center;
    width: 30%;
    height: 3em;
}

.new-input {
    margin-top: 5em;
    text-align: center;
}

/* .cards {

} */

.book-card {
    display: inline-block;
    border: 1px solid black;
    width: 20%;
    height: 20%;
    padding: 1%;
    margin: 1%;
}

.delete-btn {
    
}