body {
    background-color: rgba(42, 110, 199, 0.5);
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align:center;
}

.container {
    display:none;
    text-align:center;
}

#submit-btn {
    background-color:  rgba(16, 186, 238, 0.9);
}

#new-book {
    text-align: center;
    width: 30%;
    height: 3em;
    background-color:rgba(17, 205, 238, 0.5);
}

.new-input {
    margin-top: 5em;
    text-align: center;
}

input {
    background-color: rgba(255, 255, 255, 0.9);
}

.book-card {
    display: inline-block;
    border: 1px solid black;
    width: 20%;
    height: 20%;
    padding: 1%;
    margin: 1%;
    background-color:  rgba(11, 86, 184, 0.5);
}

.delete-btn {
   width: 40%;
   margin-left: 5%;
   background-color: red;
}

.toggle-btn {
    width: 40%;
    margin-left: 10%;
    background-color:  rgba(16, 186, 238, 0.9);
}